/*DOCUMENTO CSS*/
* { font-size: 20px; }

body { background-color: antiquewhite;}


h1 { color: red;
     text-align: center;
     text-decoration: underline; }

h2, h4 { color: greenyellow; } /*Agrupación de selextores*/

h3, h5 { color: violet; }

.atencion { color: coral; }

.izq { float: left;
width: 200px; 
height: auto; }

